body{
    margin: 0;
    padding: 0;
}

.container{
    background: rgb(27, 27, 29);
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.container div button{ 
    background:rgb(237, 238, 240);
    font-size: 18px;
    border: 2px solid wheat;
    height: 40px;
    width: 200px;
    color: aqua;
    margin-top: 45vh;
    transition: ease all 0.4s;
    border-radius: 3px;
}
.container div button:hover{
    /* transform: translateY(8px); */
    transform: rotateZ(360deg);
    box-shadow: 0px 1px 0px rgb(34, 34, 44),
    0px 7px 8px rgb(18, 224, 224);

}
